{% extends 'base.html.twig' %}

{% block title %}Hello ProdructPageController!{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <!-- =================== COMPONENT =================== -->
        <section class="padding-y bg-white shadow-sm">
            <div class="container">
                <div class="row">
                    <aside class="col-lg-6">
                        <article class="gallery-wrap gallery-vertical">
                            <a href="#" class="img-big-wrap img-thumbnail  bg-gray-light">
                                <img height="520" src="/images/products/{{ product.mainImage }}" alt="{{ product.name }}" class="mix-blend-multiply">
                            </a> <!-- img-big-wrap.// -->
                            <div class="thumbs-wrap mb-3">
                                <a href="#" class="item-thumb">
                                    <img width="60" height="60" src="../images/items/detail2/thumb1.jpg">
                                </a>
                                <a href="#" class="item-thumb">
                                    <img width="60" height="60" src="../images/items/detail2/thumb2.jpg">
                                </a>
                                <a href="#" class="item-thumb">
                                    <img width="60" height="60" src="../images/items/detail2/thumb3.jpg">
                                </a>
                                <a href="#" class="item-thumb">
                                    <img width="60" height="60" src="../images/items/detail2/thumb4.jpg">
                                </a>
                                <a href="#" class="item-thumb">
                                    <img width="60" height="60" src="../images/items/detail2/thumb1.jpg">
                                </a>
                                <a href="#" class="item-thumb">
                                    <img width="60" height="60" src="../images/items/detail2/thumb2.jpg">
                                </a>
                                <a href="#" class="item-thumb">
                                    <img width="60" height="60" src="../images/items/detail2/thumb3.jpg">
                                </a>
                            </div> <!-- thumbs-wrap.// -->
                        </article> <!-- gallery-wrap .end// -->
                    </aside>
                    <main class="col-lg-6">
                        <article class="ps-lg-3">
                            <h4 class="title text-dark text-capitalize">{{ product.name }} <br> Layer Slim Muscle</h4>

                            <div class="rating-wrap my-3">
                                <ul class="rating-stars">
                                    <li style="width:80%" class="stars-active"> <img src="../images/misc/stars-active.svg" alt=""> </li>
                                    <li> <img src="../images/misc/starts-disable.svg" alt=""> </li>
                                </ul>
                                <b class="label-rating text-warning"> 4.5</b>
                                <i class="dot"></i>
                                <span class="label-rating text-muted"> <i class="fa fa-comment"></i> 32 reviews </span>
                                <i class="dot"></i>
                                <span class="label-rating text-muted"> <i class="fa fa-shopping-basket"></i> 154 orders</span>
                            </div> <!-- rating-wrap.// -->
                            <hr>
                            <ul class="list-check cols-two mb-4">
                                <li>{{ product.description|raw }}</li>
                                <li>Talla &uacute;nica</li>
                            </ul>

                            <div class="mb-3">
                                <label class="text-muted mb-2">Colores</label>
                                <div>
                                    <label class="checkbox-btn">
                                        <input type="radio" name="choose_22"> <span class="btn btn-light"> Orange </span>
                                    </label>

                                    <label class="checkbox-btn">
                                        <input type="radio" name="choose_22"> <span class="btn btn-light"> Green </span>
                                    </label>

                                    <label class="checkbox-btn">
                                        <input type="radio" name="choose_22"> <span class="btn btn-light"> Black </span>
                                    </label>

                                    <label class="checkbox-btn">
                                        <input type="radio" name="choose_22"> <span class="btn btn-light"> White </span>
                                    </label>
                                </div>
                            </div>

                            <div class="mb-4">
                                <var class="price h5">98.00€</var>
                                <span>/ IVA incluido </span>
                            </div> <!-- price-wrap.// -->

                            <div class="row gx-2 mb-4">
                                <div class="col-2">
                                    <select class="form-select">
                                        <option> 1 </option>
                                        <option> 2 </option>
                                        <option> 3 </option>
                                    </select>
                                </div> <!-- col.// -->
                                <div class="col-auto">
                                    <a href="#" class="btn btn-primary w-100"> <i class="me-2 fa fa-shopping-basket"></i>  Añadir al carrito  </a>
                                </div> <!-- col.// -->
                                <div class="col">
                                    <a href="#" class="btn btn-light btn-icon"> <i class="fas fa-heart"></i>  </a>
                                </div> <!-- col.// -->
                            </div> <!-- row.// -->

                        </article>
                    </main> <!-- col.// -->
                </div> <!-- row.// -->
            </div> <!-- container .//  -->
        </section>
        <!-- ====================== COMPONENT 2 END .// ===================== -->
    </div>
</div>




{% endblock %}
